megaloop_v3/*
old/*
megaloop_v5.py
SCCmec-Type/*
parte2/*
datos_ex/*
OUTPUT/*
helpers/*.pyc
helpers/support_data/267_SCCmec_k32_s100000.msh
helpers/programs/ncbi-blast.tar.gz
helpers/programs/prokka.tar.gz
