biopython
cycler
decorator
dna-features-viewer==0.1.3
isort
joblib
kiwisolver
lazy-object-proxy
matplotlib==2.0.2
mccabe
networkx==1.11
numpy
panda
pylint
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six=
sklearn
typed-ast
wrapt==1.11.2
